html * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --dark-bg: #000000;
  --light-bg: #F5F5F5;
  --green-bg: #528b5a;
  --light-green-bg:#bae498;
  --white: #ffffff;
  --black: #000000;
  --blue: #26316ecc;
  --red: #8f0505;
  --light-input-bg:#cdd2c459;
  --dark-input-bg:#e3dfdf;
  --dark-border: #2a2929;
  --light-border: #dadcda;
  --nav-category-color: 65, 110, 166;
  --nav-category-active-bg: 25, 118, 210, 0.2;
}

main {
  margin: 0;
}
